* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --body-background: #111827;
  --sidebar-background: #f1f5f9;
  --sidebar-hover: #cbd5e1;
  --sidebar-active: #cbd5e1;
  --bar-height: 0.5rem;
  --bar-width: 3rem;
  --bar-gap: 0.3rem;
  --nav-height: calc((var(--bar-height) * 3) + (var(--bar-gap) * 3));
  --animation-timing: 200ms ease-in-out;
}

html {
  font-size: 62.5%;
  height: 100vh;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--body-background);
}

@media (max-width: 1400px) {
  .sidebar {
    background-color: var(--sidebar-background);
    padding: 12rem 1rem 0.5rem;
    width: 25rem;
    position: fixed;
    top: 0;
    right: 100%;
    bottom: 0;
    transform-origin: left;
    transition: all var(--animation-timing);
    z-index: 1;
  }

  .sidebar.active {
    transform: translateX(100%);
  }

  .menu {
    display: flex;
  }
}
